# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.o.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
*/CMakeCache.txt
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
compile_commands.json

# IDE files
*.depend
*.layout
*.cbp
*.mk
*.project
*.workspace
.codelite/*
.idea/*
.vs/*
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir
Bin/*
Win32/*
packages/*
packages.config
_ReSharper.Caches/

# Coverage reports
coverage/*

# Test temp files
test/temp/*
