# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.o.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ccsh
ccsh_test
ccsh_bin

# CMake files

CMakeCache.txt
CMakeFiles/*
Makefile
*.cmake

# IDE files
*.depend
*.layout
*.cbp
*.mk
*.project
*.workspace
.codelite/*
